/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,300;1,500;1,900&display=swap");
/* GLOBALS */
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  background: #020024;
  background: -moz-linear-gradient(180deg, #020024 30%, red 100%);
  background: -webkit-linear-gradient(180deg, #020024 30%, red 100%);
  background: linear-gradient(180deg, #020024 30%, red 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ff0000",GradientType=1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%; }

h1, h2, h3, h4 {
  color: #ffffff; }

h1 {
  font-size: 3rem;
  font-weight: 900;
  font-style: italic; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h6 {
  color: #000 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  font-style: italic !important; }

p {
  color: #ffffff;
  font-size: 1rem;
  font-style: italic; }

main section p {
  margin-top: 1rem; }

a {
  text-decoration: none; }

button {
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem 8rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
  transition: all 0.5s; }
  button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s; }
    button:hover a {
      color: #fff !important;
      transition: all 0.5s; }

@media only screen and (max-width: 1500px) {
  body {
    display: grid;
    height: max-content; } }

@media only screen and (max-width: 1300px) {
  body {
    display: grid; } }

/* PARTIALS */
.menu {
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  max-height: 200px;
  width: 80%;
  margin: 0 auto; }
  .menu__logo {
    padding: 2rem 0;
    width: 30%; }
  .menu__img {
    height: 50px; }
  .menu__navegador {
    font-size: 1rem;
    margin-top: 5px;
    cursor: pointer; }
  .menu__secciones {
    display: flex;
    list-style: none;
    gap: 0.5rem; }
  .menu__items {
    position: relative;
    padding: 10px 0px;
    border: solid 1px transparent;
    color: #ffffff; }
  .menu--activo {
    border: solid 1px #ff0000; }
  .menu__link {
    color: #ffffff !important;
    text-decoration: none;
    padding: 10px 7px; }
  .menu--barras:hover {
    border: solid 1px transparent; }

nav li:hover {
  border: solid 1px #ffffff; }

@media only screen and (max-width: 1300px) {
  .menu {
    flex-direction: column;
    padding-bottom: 5rem; }
    .menu__navegador {
      font-size: 1rem; }
    .menu__logo {
      text-align: center; } }

.pie {
  font-size: 1rem;
  font-style: italic;
  padding-top: 2rem;
  padding-bottom: 1rem;
  height: max-content;
  width: 80%;
  margin: 0 auto; }
  .pie__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .pie__social {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .pie__secciones {
    display: flex;
    align-items: center;
    margin-right: 1rem; }
  .pie__icon {
    width: 25px; }

@media only screen and (max-width: 1300px) {
  .pie__contenedor {
    flex-direction: column-reverse; }
  .pie__contacto {
    font-size: 0.8rem; } }

/* PAGES */
main {
  width: 100vw;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
  height: 70vh;
  padding-bottom: 3rem; }

.sectionUno {
  grid-column: 1 / 2;
  -webkit-animation-name: ingresoIzquierda;
  animation-name: ingresoIzquierda;
  animation-duration: 1.5s;
  animation-fill-mode: both; }
  .sectionUno button a {
    color: #ff0101 !important; }
  .sectionUno p {
    text-align: justify; }

.sectionDos {
  grid-column: 2 / 4;
  -webkit-animation-name: ingresoDerecha;
  animation-name: ingresoDerecha;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

#imagenHome {
  width: 112%;
  height: auto; }

@-webkit-keyframes ingresoDerecha {
  from {
    -webkit-transform: translate3d(200px, 0, 0);
    opacity: 0;
    transform: translate3d(200px, 0, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes ingresoDerecha {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes ingresoIzquierda {
  from {
    -webkit-transform: translate3d(-200px, 0, 0);
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes ingresoIzquierda {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@media only screen and (max-width: 1500px) {
  .sectionUno {
    grid-column: 1 / 3; }
  .sectionDos {
    grid-column: 3/  4; }
  #imagenHome {
    width: 180%;
    height: auto; } }

@media only screen and (max-width: 1300px) {
  main {
    height: max-content;
    width: 60%;
    min-width: 509px; }
  .sectionUno {
    grid-column: 1 / 4;
    flex-direction: column;
    display: flex; }
  .sectionDos {
    grid-column: 1 / 4;
    flex-direction: column;
    display: flex; }
  #imagenHome {
    width: 100%;
    height: auto; } }

.mainContacto {
  height: auto;
  padding-bottom: 0px;
  -webkit-animation-name: ingresoSuperior;
  animation-name: ingresoSuperior;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

.bordeBlancoImg {
  box-shadow: 5px 4px 0px #fff; }

form {
  font-size: 0.8rem; }

#contactoUno {
  width: 100%;
  grid-column: 1 / 5;
  flex-direction: column;
  display: flex; }
  #contactoUno .mapaContacto {
    box-shadow: 5px 4px 0px #fff; }

#contactoDos {
  width: 100%;
  grid-column: 1 / 5; }

#contContacto {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 2, 0.61); }

#headAcord {
  position: relative;
  top: 14px;
  left: 19px;
  z-index: 2000000;
  color: red !important;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: underline; }

.colorAcord {
  color: #000 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 500 !important;
  font-style: normal !important; }

#accordionExample {
  margin-bottom: 3rem; }

.main-nosotros {
  width: 100vw;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
  height: 70vh;
  padding-bottom: 3rem;
  -webkit-animation-name: ingresoSuperior;
  animation-name: ingresoSuperior;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

.nosotros-uno {
  width: 100%;
  grid-column: 1 / 3;
  flex-direction: column;
  display: flex; }
  .nosotros-uno__img {
    width: 100%;
    max-width: 960px; }
  .nosotros-uno--sombra {
    box-shadow: 5px 4px 0px #fff; }

.nosotros-dos {
  width: 100%;
  flex-direction: column;
  display: flex; }
  .nosotros-dos__contenedor {
    flex-direction: row;
    display: flex;
    text-align: center; }
  .nosotros-dos__parrafo {
    width: 100%;
    text-align: center; }

.fichas {
  margin-top: 3rem;
  width: 50%; }
  .fichas__img {
    width: 150px; }
  .fichas--sombra {
    box-shadow: 5px 4px 0px #fff; }
  .fichas__complemento {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-top: 0.3rem; }

@media only screen and (max-width: 1500px) {
  .fichas__titulo {
    font-size: 1.5rem;
    margin-top: 0.3rem; }
  .fichas__subtitulo {
    font-size: 1.2rem;
    margin-top: 0.3rem; } }

@media only screen and (max-width: 1300px) {
  .main-nosotros {
    height: max-content;
    width: 60%;
    min-width: 509px; }
  .nosotros-uno {
    grid-column: 1 / 4;
    flex-direction: column;
    display: flex; }
  .nosotros-dos {
    grid-column: 1 / 4;
    flex-direction: column;
    display: flex; }
  .fichas__titulo {
    font-size: 2rem;
    margin-top: 0.3rem; }
  .fichas__subtitulo {
    font-size: 1.5rem;
    margin-top: 0.3rem; } }

.main-Servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding-bottom: 3rem;
  min-width: 100px;
  -webkit-animation-name: ingresoSuperior;
  animation-name: ingresoSuperior;
  animation-duration: 1.5s;
  animation-fill-mode: both; }
  .main-Servicios h2 {
    font-size: 2rem; }

.cincoSection {
  display: inline-block;
  width: 100%;
  height: 702px;
  overflow: hidden; }
  .cincoSection p {
    margin-top: 1rem;
    text-align: justify;
    padding-bottom: 0.5rem; }

.servMouseOver {
  position: relative;
  bottom: 65px;
  left: 0px;
  background-color: rgba(0, 0, 2, 0.61);
  height: 100%;
  opacity: 1;
  padding: 1rem;
  -webkit-transition: transform 0.4s cubic-bezier(0.44, 0.51, 0.24, 0.99);
  transition: transform 0.4s cubic-bezier(0.44, 0.51, 0.24, 0.99); }

#servUno:hover .servMouseOver, #servDos:hover .servMouseOver, #servTres:hover .servMouseOver, #servCuatro:hover .servMouseOver, #servCinco:hover .servMouseOver {
  opacity: 1;
  -webkit-transform: translateY(-250px) scale(1);
  transform: translateY(-250px) scale(1); }

#servUno hr, #servDos hr, #servTres hr, #servCuatro hr, #servCinco hr {
  width: 0%;
  border: 1px solid red;
  transition: width 0.5s; }

#servUno:hover hr, #servDos:hover hr, #servTres:hover hr, #servCuatro:hover hr, #servCinco:hover hr {
  width: 100%; }

@-webkit-keyframes ingresoSuperior {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes ingresoSuperior {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@media only screen and (max-width: 1700px) {
  .main-Servicios h2 {
    font-size: 1.5rem; } }

@media only screen and (max-width: 1500px) {
  #servUno:hover .servMouseOver, #servDos:hover .servMouseOver, #servTres:hover .servMouseOver, #servCuatro:hover .servMouseOver, #servCinco:hover .servMouseOver {
    opacity: 1;
    -webkit-transform: translateY(-310px) scale(1);
    transform: translateY(-310px) scale(1); }
  .main-Servicios {
    width: calc(100%-20%); } }

@media only screen and (max-width: 1300px) {
  .main-Servicios {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr; }
  #servUno:hover .servMouseOver, #servDos:hover .servMouseOver, #servTres:hover .servMouseOver, #servCuatro:hover .servMouseOver, #servCinco:hover .servMouseOver {
    opacity: 1;
    -webkit-transform: translateY(-200px) scale(1);
    transform: translateY(-200px) scale(1); } }

.main-trabajos {
  width: 100vw;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  width: 80%;
  margin: 0 auto;
  height: 70vh;
  padding-bottom: 3rem;
  -webkit-animation-name: ingresoSuperior;
  animation-name: ingresoSuperior;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

.trabajos-uno {
  width: 100%;
  grid-column: 1 / 3;
  flex-direction: column;
  display: flex; }
  .trabajos-uno__img {
    max-width: 1800px;
    width: 100%; }

.trabajos-dos {
  width: 100%; }

.descripcion__separacion {
  width: 100%;
  border: 1px solid #fff; }

.descripcion__tabla {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 20px 0 20px 0;
  width: 100%; }

.descripcion__tabla thead td {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 900; }

.descripcion__tabla td {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  text-align: center;
  padding: 10px 40px; }

.flecha-siguiente {
  display: grid;
  grid-column: 1 / 4;
  flex-direction: column;
  text-align: center; }

@media only screen and (max-width: 1300px) {
  .main-trabajos {
    height: max-content;
    width: 60%;
    min-width: 509px; }
  .trabajos-uno {
    grid-column: 1 / 4;
    flex-direction: column;
    display: flex; }
  .trabajos-dos {
    grid-column: 1 / 4;
    flex-direction: column;
    display: flex; } }

.main-404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  color: #ffffff; }
  .main-404__titulo {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic; }
  .main-404__mensaje-linea1 {
    font-size: 2rem; }
  .main-404__mensaje-linea2 {
    font-size: 1.5rem; }
  .main-404__boton {
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    font-style: italic !important; }
