*{
margin: 0;
padding: 0;   
}

html{
box-sizing: border-box;
}

body{
font-size: 62.5%;
background: rgb(2,0,36);
background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 30%, rgba(255,0,0,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 30%, rgba(255,0,0,1) 100%);
background: linear-gradient(180deg, rgba(2,0,36,1) 30%, rgba(255,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ff0000",GradientType=1);
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style:normal;
display: grid;
grid-template-rows: auto 1fr auto;
height: 100%;
}



h1,h2,h3,h4{
color: #ffffff;
}

h1{
font-size: 3rem;
font-weight: 900;
font-style:italic;
}

h2{
font-size: 2.5rem;
}

h3{
font-size: 2rem;
}

h4{
font-size: 1.5rem;
}


h6{
  color: #000 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  font-style:italic !important;
  }



p{
color: #ffffff;
font-size: 1rem;
font-style:italic;
}

main{
  section{
    p{
      margin-top: 1rem;
    }
  }
}

a{
text-decoration: none;
}

button{
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem 8rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-weight: 500;
  font-style:italic;
  cursor: pointer;
  transition: all 0.5s;
      &:hover{
      background-color: #000;
      color: #fff;
      transition: all 0.5s;
        a{
        color: #fff !important;
        transition: all 0.5s;
        }
      }
    }

.main404{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;

}


@media only screen and (max-width: 1500px){
  body{
  display: grid;
  height:max-content;
  }
}

@media only screen and (max-width: 1300px){
  body{
  display: grid;
  }
}
