.pie{
    font-size: 1rem; 
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: max-content;
    width: 80%;
    margin: 0 auto;
    &__contenedor{
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
    
    &__social{
      display: flex;
      justify-content: space-around;
      align-items: center;
      }
    
    &__secciones{
    display: flex;
    align-items: center;
    margin-right:1rem ;
    }
    
    &__icon{
      width:25px;
    }

  }
  

 @media only screen and (max-width: 1300px){


      .pie{
        &__contenedor{
          flex-direction:column-reverse;
        }
        &__contacto{
          font-size: 0.8rem;
        }
      }


}
