.menu{
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    max-height: 200px;
    width:80%;
    margin: 0 auto;
    &__logo{
    padding: 2rem 0;
    width: 30%;
    }
    &__img{
    height:50px;
    }
    &__navegador{
    font-size: 1rem;
    margin-top: 5px;
    cursor: pointer;
    }
    &__secciones{
    display: flex;
    list-style: none;
    gap: 0.5rem;
    }
    
    &__items{
    position: relative;
    padding:10px 0px;
    border:solid 1px transparent;
    color: #ffffff;
    }

    &--activo{
      border:solid 1px #ff0000;
    }
    &__link{
    color: #ffffff !important;
    text-decoration: none;
    padding: 10px 7px;
    }
    &--barras:hover{
    border:solid 1px transparent;
    }
  } 
  
  nav{
    li{
      &:hover{
        border:solid 1px #ffffff;
        }
    }
  }
  


    @media only screen and (max-width: 1300px){
      .menu{
        flex-direction: column;
        padding-bottom: 5rem;
          &__navegador{
            font-size: 1rem;
          }
          &__logo{
              text-align: center;
          }
        }
    }
