.main-404{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    color: #ffffff;
  
    &__titulo{
        font-size: 3rem;
        font-weight: 900;
        font-style:italic;
        
        }
    
    &__mensaje-linea1{
        font-size: 2rem;
        }
    &__mensaje-linea2{
        font-size: 1.5rem;
        }
    &__boton{
        color: #fff !important;
        font-family: 'Roboto', sans-serif;
        font-weight: 300 !important;
        font-style:italic !important;
        }
  }


    

  
    
    
    
    
    
    
    
    