.main-home{
    width: 100vw;
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    height:auto;
    
  }
  

  .sectionUno{
    grid-column: 1 / 2;
    -webkit-animation-name: ingresoIzquierda;
    animation-name: ingresoIzquierda;
    animation-duration: 1.5s;
    animation-fill-mode: both ;
    button{
      a{
        color:#ff0101 !important;
      }
    }
    p{
      text-align: justify;
      }
  }

.sectionDos{
grid-column: 2 / 4;
-webkit-animation-name: ingresoDerecha;
animation-name: ingresoDerecha;
animation-duration: 1.5s;
animation-fill-mode: both ;
}

#imagenHome{
    width: 112%;
    height: auto;
} 
  
@-webkit-keyframes ingresoDerecha {
    from {
      -webkit-transform: translate3d(200px, 0, 0);
      opacity: 0;
      transform: translate3d(200px, 0, 0);
      visibility: visible;
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes ingresoDerecha {
    from {
      opacity: 0;
      -webkit-transform: translate3d(200px, 0, 0);
      transform: translate3d(200px, 0, 0);
      visibility: visible;
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @-webkit-keyframes ingresoIzquierda {
  from {
    -webkit-transform: translate3d(-200px, 0, 0);
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
    visibility: visible;
  }
  
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  }
  
  @keyframes ingresoIzquierda {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
    visibility: visible;
  }
  
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 1500px){
.sectionUno{
 grid-column: 1 / 3;
}
.sectionDos{
grid-column: 3/  4;
}
#imagenHome{
 width: 180%;
 height: auto;
}
}


@media only screen and (max-width: 1300px){


main{
height:max-content ;
width: 60%;
min-width: 509px;
}

.sectionUno{
grid-column: 1 / 4;
flex-direction: column;
display: flex;
}
.sectionDos{
grid-column: 1 / 4;
flex-direction: column;
display: flex;
}

#imagenHome{
width: 100%;
height: auto;
}


}
