@mixin flex ($direction,$display){
    grid-column: 1 / 4;
    flex-direction: $direction;
    display: $display;
}

.main-nosotros{
    width: 100vw;
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    padding-bottom: 3rem;

    -webkit-animation-name: ingresoSuperior;
    animation-name: ingresoSuperior;
    animation-duration: 1.5s;
    animation-fill-mode: both ;
}

.nosotros-uno{
    width: 100%;
    grid-column: 1 / 3;
    flex-direction: column;
    display: flex;
    &__img{
        width: 100%;
        max-width: 960px;
    }
    &--sombra{
        box-shadow: 5px 4px 0px #fff;
    }
}

.nosotros-dos{
    width: 100%;
    flex-direction: column;
    display: flex;
    &__contenedor{
        flex-direction: row;
      display: flex;
      text-align: center;
    }
    &__parrafo{
        width: 100%;
        text-align: center;
    }

}

.fichas{
    margin-top: 3rem;
    width: 50%;
    &__img{
        width: 150px;
    }
    &--sombra{
        box-shadow: 5px 4px 0px #fff;
    }
    &__complemento{
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        margin-top: 0.3rem;
    }
}

@media only screen and (max-width: 1500px){
    .fichas{
        &__titulo{
            font-size: 1.5rem;
            margin-top: 0.3rem;
        }
        &__subtitulo{
            font-size: 1.2rem;
            margin-top: 0.3rem;
        }
    }
}

@media only screen and (max-width: 1300px){
    .main-nosotros{
       height:max-content ;
       width: 60%;
       min-width: 509px;
    }

    .nosotros-uno{
        @include flex(column,flex);

    }

    .nosotros-dos{
        @include flex(column,flex);
    }

    .fichas{
        &__titulo{
            font-size: 2rem;
            margin-top: 0.3rem;
          }
        &__subtitulo{
            font-size: 1.5rem;
            margin-top: 0.3rem;
        }
    }
}