.main-Servicios{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  width: 80%;
  margin: 0 auto;
  height: auto;
  min-width: 100px;
  -webkit-animation-name: ingresoSuperior;
  animation-name: ingresoSuperior;
  animation-duration: 1.5s;
  animation-fill-mode: both ;  
  cursor: pointer;
  margin-bottom: 2rem;
    h2{
      font-size: 2rem;
    }
  }
 

.cincoSection{
    display: inline-block;
    width: 100%;
    height: 702px;
    overflow: hidden;    
      p{
        margin-top: 1rem;
        text-align: justify;
        padding-bottom: 0.5rem;
        }
    }

.servMouseOver{
  position: relative;
  bottom:65px;
  left:0px;
  background-color: rgba(0, 0, 2, 0.61);
  height: 100%;
  opacity: 1;
  padding: 1rem;
-webkit-transition: transform .4s cubic-bezier(.44, .51, .24, .99);
  transition: transform .4s cubic-bezier(.44, .51, .24, .99);
  cursor: pointer;
 }

#servUno,#servDos,#servTres,#servCuatro,#servCinco{
  &:hover{
    .servMouseOver{
      opacity: 1;
      -webkit-transform: translateY(-250px) scale(1);
      transform: translateY(-250px) scale(1);
    }
  }
  hr{
    width: 0%;
    border: 1px solid red;
    transition: width 0.5s;
  }
}

 #servUno,#servDos,#servTres,#servCuatro,#servCinco{
      &:hover{
        hr{
          width: 100%
        }
      }
    }


    @-webkit-keyframes ingresoSuperior {
      from {
        -webkit-transform: translate3d(0,-50px, 0);
        opacity: 0;
        transform: translate3d(0,-50px, 0);
        visibility: visible;
      }

      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      }
      
      @keyframes ingresoSuperior {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0,-50px, 0);
        transform: translate3d(0,-50px, 0);
        visibility: visible;
      }

      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      }

    @media only screen and (max-width: 1700px){
        .main-Servicios{
         h2{
            font-size: 1.5rem;
          }    
        }
    }

    @media only screen and (max-width: 1500px){
      #servUno,#servDos,#servTres,#servCuatro,#servCinco{
        &:hover{
          .servMouseOver{
            opacity: 1;
            -webkit-transform: translateY(-310px) scale(1);
            transform: translateY(-310px) scale(1);
          }
        }
  }

  .main-Servicios{
    width: calc(100%-20%);
  }

}





@media only screen and (max-width: 1300px){


  .main-Servicios{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
  }

  #servUno,#servDos,#servTres,#servCuatro,#servCinco{
    &:hover{
      .servMouseOver{
        opacity: 1;
        -webkit-transform: translateY(-200px) scale(1);
        transform: translateY(-200px) scale(1);
      }
    }
}


}